<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC10v5PLGMdNuA_LW9Jbxg-f9RmbjAkYFg</string>
	<key>GCM_SENDER_ID</key>
	<string>227835407054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.social.xSocial</string>
	<key>PROJECT_ID</key>
	<string>x-social-7546b</string>
	<key>STORAGE_BUCKET</key>
	<string>x-social-7546b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227835407054:ios:39be44cfad5d5e26a6fe9f</string>
</dict>
</plist>